<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);">
  <div class="banner-content">
    <h1>Les étonnants professeurs du Wagon</h1>
    <h2>Et leur drôle de façon de s'exprimer</h2>
  </div>
</div>

<!-- Your cards code -->
<div class="wrapper-grey padded cards">
  <div class="container">
    <div class="row">
      <% data.teachers.each do |teacher, description| %>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-category"><%= description.name %></div>
            <div class="card-description">
              <h2><%= description.summary %></h2>
            </div>
            <div class="card-sub-description">
              <p><%= description.add_summary %></p>
            </div>
            <div class="card-top">
              <div>
                 <%= image_tag description.picture, class: "avatar-very-extra-large" %>
              </div>
            </div>
            <%= link_to "", "teachers/#{teacher}.html", class: "card-link" %>
            <!--  <a class="card-link" href="#" ></a> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
